@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.ttf') format('truetype');
}

:root {
  --main-orange-color: #e85733;
  --main-blue-color: #101929;
  --main-background-color: #010918;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Light';
}

body {
  max-width: 100%;
  color: white;
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4 {
  font-family: 'Gilroy-ExtraBold';
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.68rem;
}

h4 {
  font-size: 1.5rem;
}
